body {
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5em;
  height: 100%;
}

#imageContainer,
#debugContainer {
  display: block;
  margin: 40px auto;
  overflow: hidden;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  position: relative;
  cursor: move;
}

.column {
  width: 98%;
  margin: 2px auto;
  border: 1px solid #000;
  vertical-align: top;

  &.left {
    float: left;
  }
  &.right {
    float: right;
  }
}

#debugContainer {
  p {
    margin: 0;
    padding: 0;
  }
}

#controllBar {
  text-align: center;
}
